.captionBoldUppercase12 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.captionBoldUppercase8 {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
}