.card {
    // background-color: #121212;
    position: absolute;
}

.cardImage {
}
.lable {
     position: relative;
     left: 0px;
}
.cardTitle {
    margin: 10px 0;
    font-size: 16px;
    color: aliceblue;
}