.bigLight {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

.bigMedium {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.baseLight {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.baseSmall {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
}