.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.themeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 17px;
    background-color: #1A1818;
}
