.formSearch {
    position: absolute;
    padding: 8px 16px 8px 40px;
    border: #575757;
    color: #575757;
    background-color: #1A1818;
}

.searchContainer {
   display: flex;
   justify-content: end;
  
}

.icon {
    position: relative;
    right: 191px;
    transform: translateY(25%);
}

.position {
    position: absolute;
    right: 0;
}