.formSearch {
    padding: 8px 16px 8px 40px;
    border: #575757;
    color: #575757;
    background-color: #1A1818;
}

.searchContainer {
   display: flex;
   justify-content: end;
   position: relative;
  
}

.icon {
    position: absolute;
    left: 15px;
    top: 10px;
}

.relative {
    position: relative;
}