.h1MediumUppercase {
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.h2MediumUppercase {
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}