   :root {
       --primary-color: #121212;
   }

   body {
       background-color: var(--primary-color);
   }

   .container {
    width: 1240px;
    margin: 0 53px ;
    // column-gap: 32px;
    // column-count: 12;
   }